
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero2">
    <h2 class="animate__animated animate__fadeInDown">Fill Details for Scheme</h2>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services services2">
        <div class="container">

            <div class="section-title pt-5 pb-4 text-start">
                <h2 class="mb-0">Section Title goes here</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <a href="#" data-bs-toggle="modal" data-bs-target="#glwb_scm_detail">GLWB</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#bocw_scm_detail">BOCW</a>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-2 bg-primary d-flex justify-content-between">
                            <span class="text-white"><i class='bx bxs-pencil align-middle'></i> Fill the details <small> ( * marks fields are Mandatory)</small> </span>
                            <a asp-controller="Home" asp-action="Grid" class="f500 text-white"> <i class='bx bx-list-ul align-middle'></i> Go to View Page</a>
                        </div>
                        <div class="card-body">

                            <fieldset class="mb-4">
                                <legend>Title Goes Here</legend>
                                <div class="form-horizontal form-bordered">
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            Field Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="control-form col-md-4">
                                            <input name="" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-2 align-self-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">popup form</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 align-self-center">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">popup form</a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 border-left">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Select2 Single<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="js-example-basic-single form-control" name="state">
                                                    <option>Please Select</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 border-left">
                                                Select2 Multiple<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="js-example-basic-multiple form-control form-select" name="states[]" multiple="multiple">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML default date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="date" class="form-control" />
                                            </div>
                                            <label class="control-label col-md-2">
                                                Bootstrap date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="text" class="form-control datepicker1" placeholder="mm/dd/yyyy" />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Request Subject<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <label for="formFile" class="form-label"></label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Remarks</label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-sm btn-secondary pl-3 pr-3 mr-2">Cancel</button>
                            <button class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
                        </div>
                    </div>
                    <!--<form class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </form>-->
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card shadow mb-4">
                        <div class="card-header py-2 bg-primary d-flex justify-content-between">
                            <span class="text-white"><i class='bx bxs-pencil align-middle'></i> Fill the details <small> ( * marks fields are Mandatory)</small> </span>
                            <a asp-controller="Home" asp-action="Grid" class="f500 text-white"> <i class='bx bx-list-ul align-middle'></i> Go to View Page</a>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 align-self-center">
                                                <a href="#" data-toggle="modal" data-target="#exampleModal">popup form</a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 border-left">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML default date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="date" class="form-control" />
                                            </div>
                                            <label class="control-label col-md-2">
                                                Bootstrap date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="text" class="form-control datepicker1" placeholder="mm/dd/yyyy" />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Request Subject<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <label for="formFile" class="form-label"></label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Remarks</label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-sm btn-secondary pl-3 pr-3 mr-2">Cancel</button>
                            <button class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="glwb_scm_detail" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary py-2">
                    <h5 class="modal-title d-flex align-items-center w-100 justify-content-between flex-row-reverse" id="exampleModalLabel11">
                        <img src="/assets/img/GLWBColorLogo.jpg" class="rounded-circle me-2" height="50" width="50">શ્રમયોગી સાઇકલ સુબસીડી સહાય યોજના
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style=" filter: invert(1); "></button>
                </div>

                <div class="modal-body glwb_bg">
                    <h6 class="fw-bold">યોજનાનું સ્વરૂપ / લોન સહાયના ધોરણો</h6>
                    <ul class="custom-list">
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                    </ul>
                    <h6 class="fw-bold">યોજનાનું સ્વરૂપ / લોન સહાયના ધોરણો</h6>
                    <ul class="custom-list">
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                    </ul>
                    <h6 class="fw-bold">યોજનાનું સ્વરૂપ / લોન સહાયના ધોરણો</h6>
                    <ul class="custom-list">
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                    </ul>


                </div>
                <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bocw_scm_detail" tabindex="-1" aria-labelledby="exampleModalLabel22" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-primary py-2">
                    <h5 class="modal-title d-flex align-items-center w-100 justify-content-between flex-row-reverse" id="exampleModalLabel22">
                        <img src="/assets/img/BOCWLogo.png" class="rounded-circle me-2" height="50" width="50">Prashruti Sahay Yojana (Before Prashruti)
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style=" filter: invert(1); "></button>
                </div>



                <div class="modal-body bocw_bg">
                    <h6 class="fw-bold">યોજનાનું સ્વરૂપ / લોન સહાયના ધોરણો</h6>
                    <ul class="custom-list">
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                    </ul>
                    <h6 class="fw-bold">યોજનાનું સ્વરૂપ / લોન સહાયના ધોરણો</h6>
                    <ul class="custom-list">
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                    </ul>
                    <h6 class="fw-bold">યોજનાનું સ્વરૂપ / લોન સહાયના ધોરણો</h6>
                    <ul class="custom-list">
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                        <li>સામાજિક અને શૈક્ષણિક રીતે પછાત વર્ગના માટે કોમર્શીયલ પાયલોટ લાયસન્સ તાલીમ લેવા માટે રૂ.૨૫.૦૦લાખની લોન.</li>
                    </ul>


                </div>
                <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



</main><!-- End #main -->
<!-- ======= Footer ======= -->
