
@{
    ViewData["Title"] = "GLWBSchemes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-list li::before {
        content: "\ea55";
        font-family: boxicons !important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
        text-transform: none;
        font-weight: 900;
        position: absolute;
        left: -20px;
        left: -32px;
        font-size: 2rem;
        color: #a4a4a4;
    }

    .custom-list {
        list-style-type: none;
        padding-left: 40px;
        
    }
    .custom-list li {
        position: relative;
        padding: 5px 0;
        font-weight: 600;
    }
</style>

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero2">
    <h2 class="animate__animated animate__fadeInDown">Gujarat Labour Walfare Board</h2>
</section>
<!-- End Hero -->



<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services services2">
        <div class="container-fluid">

            <div class="section-title pt-5 pb-4 text-start">
                @*<h2 class="mb-0">Tab Structure </h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@

            </div>

            <div class="row">
                <div class="col">

                    <h5 class="text-muted"><b>યોજનાનો હેતુ</b></h5>
                    <ul class="custom-list">
                        <li>
                            અનુસૂચિત જાતિના વિદ્યાર્થીઓને યુ.પી.એસ.સી/ જી.પી.એસ.સી./ સ્ટેટ કમિશન/ બેંક / એલ.આઇ.સી/ ગૌણ સેવા પસંદગી મંડળ/ જિલ્લા પંચાયત પસંદગી મંડળ દ્વારા લેવાતી વર્ગ -૧,૨ અને ૩ ની રાજ્ય સરકાર તેમજ કેન્‍દ્ર સરકારની તમામ ભરતી પરીક્ષાઓની પૂર્વ તૈયારી માટે વધુમાં વધુ રૂ. ૨૦,૦૦૦/- સુધીની સહાય આપવામાં આવે છે.
                            યોજના શરૂ થયાનું વર્ષ : વર્ષ ૨૦૧૭-૧૮
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->