*.vsidx
.vs/*
LabourCommissioner/bin/*
LabourCommissioner/obj/*
LabourCommissioner.Abstraction/bin/*
LabourCommissioner.Abstraction/obj/*
LabourCommissioner.Common/bin/*
LabourCommissioner.Common/obj/*
LabourCommissioner.DataRepository/bin/*
LabourCommissioner.DataRepository/obj/*
LabourCommissioner.Services/bin/*
LabourCommissioner.Services/obj/*


LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.metadata.v2
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.projects.v2
LabourCommissioner/LabourCommissioner.csproj
LabourCommissioner/.vs/LabourCommissioner/FileContentIndex/write.lock
LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/LabourCommissioner/DesignTimeBuild/.dtbcache.v2
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.metadata.v2
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.projects.v2
LabourCommissioner/.vs/LabourCommissioner/DesignTimeBuild/.dtbcache.v2
LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.metadata.v2
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.projects.v2
LabourCommissioner/.vs/LabourCommissioner/DesignTimeBuild/.dtbcache.v2
LabourCommissioner/.vs/LabourCommissioner/v17/.futdcache.v1
LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/LabourCommissioner/v17/HierarchyCache.v1.txt
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.metadata.v2
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.projects.v2
LabourCommissioner/LabourCommissioner.csproj
LabourCommissioner/.vs/LabourCommissioner/DesignTimeBuild/.dtbcache.v2
LabourCommissioner/.vs/LabourCommissioner/v17/.suo
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.metadata.v2
LabourCommissioner/.vs/ProjectEvaluation/labourcommissioner.projects.v2
LabourCommissioner.Abstraction/LabourCommissioner.Abstraction.csproj
LabourCommissioner.Services/LabourCommissioner.Services.csproj
*.v1
*.txt
*.v2
