 <div class="modal-header bg-primary py-2">
                    <h5 class="modal-title d-flex align-items-center w-100 justify-content-between flex-row-reverse" id="dynamicSchemeModelLabel">
                        <img src="/assets/img/BOCWLogo.png" class="rounded-circle me-2" height="50" width="50">Sahay Yojana
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style=" filter: invert(1); "></button>
                </div>
                <div class="modal-body bocw_bg">
                  <h1>Test</h1>
                </div>
                <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" asp-controller="" asp-action=""> Accept</a>
                </div>