@using LabourCommissioner.Abstraction.DataModels
@model Usermaster;

<form asp-controller="Account" asp-action="ForgetPasswordReset" id="ResetPassword">

    <div class="modal fade" id="popup10" tabindex="-1" aria-labelledby="schemeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-x">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="schemeModalLabelTablet">Reset Password </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>
                                    <span id="lblOTP">OTP Code : </span><span class="text-red">*</span>
                                </label>
                                <div class="">
                                    <input asp-for="OTP_Code" class="form-control" autocomplete="off"/>
                                    <span asp-validation-for="OTP_Code" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span id="lblNewPwd">New Password : </span><span class="text-red">*</span>
                                </label>
                                <div class="">
                                    <input asp-for="Password" class="form-control" autocomplete="off"/>
                                    <span asp-validation-for="Password" class="text-danger small"></span>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label>
                                    <span id="lblConfirmpwd"> Confirm Password : </span><span class="text-red">*</span>
                                </label>
                                <div class="">
                                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="off"/>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <input type="submit" value="Submit" class="btn btn-warning">

                </div>
            </div>
        </div>
    </div>
</form>

