
@{
    ViewData["Title"] = "AppPersonalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero2">
    <h2 class="animate__animated animate__fadeInDown">શ્રમયોગી હોમ લોન વ્યાજ સબસીડી યોજના</h2>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services services2">
        <div class="container-fluid">

            <div class="section-title pt-5 pb-4 text-start">
                @*<h2 class="mb-0">Tab Structure </h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
                <div class="col-md-2 align-self-center">

                </div>

            </div>

            <div class="row">
                <div class="col position-relative">

                    <ul class="nav nav-pills mb-3 justify-content-between" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active shadow" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                1<br />
                                <span>Personal Detail</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link shadow" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                2<br />
                                <span>Scheme Detail</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link shadow" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                3<br />
                                <span>Documents</span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link shadow" id="pills-contact-tab2" data-bs-toggle="pill" data-bs-target="#pills-contact2" type="button" role="tab" aria-controls="pills-contact2" aria-selected="false">
                                4<br />
                                <span>Rules &amp; Regulation</span>
                            </button>
                        </li>

                    </ul>
                    <span style=" display: flex; border: solid 1px var(--bs-primary); margin-top: -50px; position: absolute; width: 94%; justify-content: center; margin-left: 2%; z-index: -1; opacity: .5; "></span>


                    <div class="tab-content border p-3" id="pills-tabContent">

                        <partial name="~/Views/Shared/_GLWBPersonalDetails.cshtml" />

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

                            <div>
                                <fieldset class="custom-fieldset mb-4">
                                    <legend>યોજનાની વિગત</legend>
                                    <div class="">
                                        <div class="form-horizontal form-bordered">
                                            <div class="form-group row">
                                                <span id="body_innerbody_label1" class="control-label col-md-3">માસિક પગાર રૂ :</span>
                                                <div class="control-form col-md-3">
                                                    <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                    <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">માસિક પગાર લખો.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <fieldset class="custom-fieldset mb-4">
                                        <legend>દસ્તાવેજની વિગત</legend>
                                        <div class="">
                                            <div class="form-horizontal form-bordered">
                                                <div class="form-group row">
                                                    <span id="body_innerbody_label1" class="control-label col-md-3">દસ્તાવેજ મુજબ મકાનની કિંમત :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">દસ્તાવેજ મુજબ મકાનની કિંમત લખો.</span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <span id="body_innerbody_label1" class="control-label col-md-3">દસ્તાવેજ નંબર :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">દસ્તાવેજ નંબર લખો.</span>
                                                    </div>

                                                    <span id="body_innerbody_label1" class="control-label col-md-3">દસ્તાવેજની તારીખ :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">દસ્તાવેજની તારીખ લખો.</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="custom-fieldset mb-4">
                                        <legend>લોનની વિગત</legend>
                                        <div class="">
                                            <div class="form-horizontal form-bordered">
                                                <div class="form-group row">
                                                    <span id="body_innerbody_label1" class="control-label col-md-3">લોનની રકમ રૂ :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">લોનની રકમ લખો.</span>
                                                    </div>

                                                    <span id="body_innerbody_label1" class="control-label col-md-3">માસિક હપ્તો :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">માસિક હપ્તો લખો.</span>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <span id="body_innerbody_label1" class="control-label col-md-3">વ્યાજનો દર :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtStudentName" type="text" maxlength="100" id="body_innerbody_txtStudentName" class="form-control" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">વ્યાજનો દર લખો.</span>
                                                    </div>

                                                    <span id="body_innerbody_label1" class="control-label col-md-3">લોન મંજુર થયા તારીખ :</span>
                                                    <div class="control-form col-md-3">
                                                        <input name="txtDOB" type="text" maxlength="100" id="body_innerbody_txtDOB" class="form-control datepicker1" placeholder="mm/dd/yyyy" autocomplete="off">
                                                        <span id="body_innerbody_txtStudentName" style="color:Red;display:none;">માસિક હપ્તો લખો.</span>
                                                    </div>

                                                </div>

                                                <div class="form-group row">
                                                    <span class="control-label col-md-3">
                                                        બેંકનું નામ :   <span class="text-danger"></span>
                                                    </span>
                                                    <div class="control-form col-md-3">
                                                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankName" type="text" value="Union Bank" id="body_innerbody_ucApplicantBankdetails_txtBankName" class="form-control">

                                                        <span id="body_innerbody_ucApplicantBankdetails_regtxtBankName" style="color:Red;display:none;">બેંક નું નામ બરાબર લખો </span>
                                                    </div>
                                                    <span class="control-label col-md-3">
                                                        શાખાનું નામ :   <span class="text-danger"></span>
                                                    </span>
                                                    <div class="control-form col-md-3">
                                                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$branchName" type="text" value="" id="body_innerbody_ucApplicantBankdetails_branchName" class="form-control">

                                                        <span id="body_innerbody_ucApplicantBankdetails_RegbranchName" style="color:Red;display:none;">બેંક ની શાખાનું નામ બરાબર લખો </span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <span class="control-label col-md-3">
                                                        હોમ લોન એકાઉન્ટ નં :   <span class="text-danger"></span>
                                                    </span>
                                                    <div class="control-form col-md-3">
                                                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankName" type="text" value="" id="body_innerbody_ucApplicantBankdetails_txtBankName" class="form-control">

                                                        <span id="body_innerbody_ucApplicantBankdetails_regtxtBankName" style="color:Red;display:none;">હોમ લોન એકાઉન્ટ નં લખો </span>
                                                    </div>
                                                    <span class="control-label col-md-3">
                                                        લોનની સમય મર્યાદા (વર્ષ) :   <span class="text-danger"></span>
                                                    </span>
                                                    <div class="control-form col-md-3">
                                                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$branchName" type="text" value="" id="body_innerbody_ucApplicantBankdetails_branchName" class="form-control">

                                                        <span id="body_innerbody_ucApplicantBankdetails_RegbranchName" style="color:Red;display:none;">લોનની સમય મર્યાદા (વર્ષ) લખો </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                </fieldset>




                            </div>

                        </div>

                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">

                            <span class="text-danger font-weight-bolder">
                                <small>
                                    <b id="">Note : બધા અપલોડ કરેલા દસ્તાવેજોની સ્વયં પ્રમાણિત હોવી જોઈએ</b> <br>
                                    <b id="">Note : Uploaded documents are less than 1 MB.</b> <br>
                                </small>
                            </span>
                            <table class="table table-striped table-bordered table-sm">
                                <tbody>
                                    <tr>
                                        <td scope="col">
                                            શ્રમયોગીને કંપની દ્વારા આપવામાં આવેલ ઓળખ પત્રની નકલ  :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td scope="col">
                                            પગાર સ્લીપ અરજી કર્યાના અગાઉના માસની :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            શ્રમયોગીનુ આધાર કાર્ડ :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            શ્રમયોગીનાં નામે અન્ય રહેણાંકનું મકાન ન હોવું જોઇએ. જે અંગે એફિડેવીટ  :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            મકાન દસ્તાવેજની નકલ   :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            બેંકમાંથી લીધેલ લોનનો પુરાવો  :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td scope="col">
                                            બેંક પાસબુક ની પ્રથમ પાનાની નકલ (વિગતો સ્પષ્ટ થતી ન હશે અને અન્ય ખાતામાં નાણાં જશે તો કચેરીની જવાબદારી રહેશે નહીં.)  :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td scope="col">
                                            કંપની દ્વારા અત્રેની કચેરી ખાતે ભરપાઈ કરવામાં આવેલ લેબર વેલ્ફેર ફંડ રસીદની છેલ્લા ત્રણ વર્ષની નકલ  :<span class="text-danger">*</span>
                                        </td>
                                        <td scope="col">
                                            <input type="file" class="form-control-file border p-1" id="">
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>

                        <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2" tabindex="0">

                            <div class="">
                                <p>
                                    હું આ યોજના અંતર્ગત સહાય મેળવવા માટે અરજી કરુ છુ. ઉપરોક્ત જણાવેલ તમામ વિગતો સંપૂર્ણ સાચી છે, જો ખોટી પૂરવાર થાય તો હું ગુન્હાને પાત્ર છું અને આ યોજના હેઠળ મળેલ સહાય પરત કરવાની બાહેંધરી આપુ છુ
                                </p>

                                <div class="text-center">
                                    <input id="" type="checkbox" name="" checked="checked" style="transform:scale(1.3)">
                                    <label class="">
                                        હું ઉપરની બધી શરતો થી સહેમત છું.
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class=" text-center">
                            <button class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
                            <button class="btn btn-sm btn-secondary pl-3 pr-3 mr-2">Cancel</button>

                        </div>
                    </div>

                    <div class="card shadow mb-4 d-none">
                        <div class="card-header py-2 bg-primary d-flex justify-content-between">
                            <span class="text-white"><i class='bx bxs-pencil align-middle'></i> Fill the details <small> ( * marks fields are Mandatory)</small> </span>
                            <a asp-controller="Home" asp-action="Grid" class="f500 text-white"> <i class='bx bx-list-ul align-middle'></i> Go to View Page</a>
                        </div>
                        <div class="card-body">

                            <fieldset class="mb-4">
                                <legend>Title Goes Here</legend>
                                <div class="form-horizontal form-bordered">
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">
                                            Field Name<span class="text-danger">*</span>
                                        </label>
                                        <div class="control-form col-md-4">
                                            <input name="" type="text" class="form-control">
                                        </div>
                                        <div class="col-md-2 align-self-center">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">popup form</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 align-self-center">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">popup form</a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 border-left">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Select2 Single<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="js-example-basic-single form-control" name="state">
                                                    <option>Please Select</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 border-left">
                                                Select2 Multiple<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="js-example-basic-multiple form-control form-select" name="states[]" multiple="multiple">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML default date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="date" class="form-control" />
                                            </div>
                                            <label class="control-label col-md-2">
                                                Bootstrap date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="text" class="form-control datepicker1" placeholder="mm/dd/yyyy" />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Request Subject<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <label for="formFile" class="form-label"></label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Remarks</label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-sm btn-secondary pl-3 pr-3 mr-2">Cancel</button>
                            <button class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
                        </div>
                    </div>
                    <!--<form class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </form>-->
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card shadow mb-4">
                        <div class="card-header py-2 bg-primary d-flex justify-content-between">
                            <span class="text-white"><i class='bx bxs-pencil align-middle'></i> Fill the details <small> ( * marks fields are Mandatory)</small> </span>
                            <a asp-controller="Home" asp-action="Grid" class="f500 text-white"> <i class='bx bx-list-ul align-middle'></i> Go to View Page</a>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 align-self-center">
                                                <a href="#" data-toggle="modal" data-target="#exampleModal">popup form</a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-md-2 border-left">
                                                HTML Default select<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-2">
                                                <input name="" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                HTML default date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="date" class="form-control" />
                                            </div>
                                            <label class="control-label col-md-2">
                                                Bootstrap date picker<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <input type="text" class="form-control datepicker1" placeholder="mm/dd/yyyy" />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Request Subject<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">
                                                Field Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="control-form col-md-4">
                                                <label for="formFile" class="form-label"></label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Remarks</label>
                                            <div class="control-form col-md-4">
                                                <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-sm btn-secondary pl-3 pr-3 mr-2">Cancel</button>
                            <button class="btn btn-sm btn-primary pl-3 pr-3">Save</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</main><!-- End #main -->
<!-- ======= Footer ======= -->
