@using LabourCommissioner.Abstraction.DataModels
@model Usermaster;
@{
}
<form asp-controller="Account" asp-action="SentEmailForForgetPassword">
    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="schemeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-x">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="schemeModalLabelTablet">પાસવર્ડ ભૂલી ગયા છો </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-lg-6">
                            યુઝર આઈડી :<span class="text-danger">*</span>
                        </label>
                        <div class="control-form col-lg-6">
                            <input asp-for="UserId" class="form-control" autocomplete="off"/>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    @*<a asp-controller="Account" asp-action="SentEmailForForgetPassword" class="btn btn-warning" data-bs-toggle="modal">

                    ઓટીપી મોકલો
                    </a>*@
                    <input type="submit" value="ઓટીપી મોકલો" class="btn btn-warning">

                    <input type="submit" value="Already Have OTP" asp-action="ForgetPasswordReset" asp-controller="Home" class="btn btn-warning">

                    @*<a href="@Url.Action("ForgetPasswordReset","Home",new { id = Model.UserId})"> Submit</a>*@

                </div>
                <span class="text-danger align-items-center">Note: Please check your Inbox & Spam folders of email id or mobile for OTP.</span>
            </div>
        </div>
    </div>
</form>



@*<script src="~/assets/js/jquery-3.6.0.min.js"></script>

<script>
    function getResetPasswordModel() {
        //debugger;
        $.ajax({
            type: "GET",
            url: "/Home/ForgetPasswordReset",
            //data: {ServiceId: serviceId},
            //data: JSON.stringify(objData),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            traditional: true,
            success: function(response) {
                debugger;
                $("#popup").modal('hide');
                //$("#dynamicResetPasswordModel").find("#ResetPasswordpartialView").html(response);
                $("#popup10").modal('show');
            },
            failure: function(response) {
                debugger; 
                alert(response.responseText);
            },
            error: function(response) {
                debugger;
                alert(response.responseText);
            }
        });
    }
</script>*@