
<fieldset class="custom-fieldset mb-4">
    <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
        <span id="body_innerbody_ucApplicantBankdetails_lblLegend">
            દિવ્યાંગતાની 
        </span>
    </legend>
    <div class="form-horizontal form-bordered">

        <div class="form-group row">
            <span class="control-label col-md-3">
                દિવ્યાંગતાનો પ્રકાર :   <span class="text-danger"></span>
            </span>
            <div class="control-form col-md-3">
                <select class="form-control">
                    <option>--select--</option>
                    <option>1</option>
                    <option>11</option>
                </select>
            </div>
            <span class="control-label col-md-3">
                દિવ્યાંગતાની ટકાવારી :   <span class="text-danger"></span>
            </span>
            <div class="control-form col-md-3">
                <input name="" type="text" value="" id="" class="form-control">

            </div>
        </div>


    </div>
</fieldset>