@using LabourCommissioner.Abstraction.DataModels
@using System.Security.Claims
@model IEnumerable<ServiceMaster>
@{
    var identity = (ClaimsIdentity)User.Identity;
    IEnumerable<Claim> claims = identity.Claims;
}

<div class="row mt-5">
    <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
            <li class="lnk_filter0 filter-active">All</li>
            <li class="lnk_filter1">Factory Workers</li>
            <li class="lnk_filter2">Construction Workers</li>
            <li class="lnk_filter3">Educational Scheme</li>
        </ul>
        <span>Total Scheme:<b>28</b></span>
    </div>
</div>
@if (Model != null && identity?.Claims.FirstOrDefault(x => x.Type.Equals("BeneficiaryType", StringComparison.OrdinalIgnoreCase))?.Value == "1")
{
    <div class="constructions">
        <p class="h5 d-flex align-items-center"><i class='bx bx-building-house me-2'></i>Constructions  Workers (Building and Other Constructions Workers Welfare Board)</p>
        <hr />
        <div class="row portfolio-container portfolio-container2">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="scheme">
                        @*<a href="@Url.Action("GetSchemeDescription","Scheme", new { ServiceId = @item.ServiceId })">*@
                            <a href="#" onclick="return getSchemeDescription(@item.ServiceId);">
                            <i class='bx bx-book-open'></i>
                            <h5>@Html.DisplayFor(modelItem=>item.ServiceNameGujarati)</h5>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Model != null && identity?.Claims.FirstOrDefault(x => x.Type.Equals("BeneficiaryType", StringComparison.OrdinalIgnoreCase))?.Value == "2")
{
    <div class="labour">
        <p class="h5 d-flex align-items-center"><i class='bx bxs-user-circle me-2'></i>Factory Workers (Labour Welfare Board)</p><hr />

        <div class="row portfolio-container portfolio-container2">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBCycleYojna">
                        <i class='bx bx-cycling'></i>
                        <h5>શ્રમયોગી સાઇકલ સબસીડી સહાય યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">

                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeGWLBAccidental">

                        <i class='bx bx-plus-medical'></i>
                        <h5>શ્રમયોગી અકસ્માત મૃત્યુ સહાય યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#HomeTownSchemeDetailsModal">
                        <i class='bx bx-home'></i>
                        <h5>શ્રમયોગી હોમ ટાઉન યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#pravasanSchemeDetailsModal">
                        <i class='bx bx-bus'></i>
                        <h5>શ્રમયોગી પ્રવાસન યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeModalHomeLoan">
                        <i class='bx bx-rupee'></i>
                        <h5>શ્રમયોગી હોમ લોન વ્યાજ સુબસીડી યોજના</h5>
                    </a>

                    @*<a asp-controller="GLWBHomeLoanSubsidyYojana" asp-action="AppPersonalDetails">
                <i class='bx bx-rupee'></i>
                <h5>હોમ લોન વ્યાજ સુબસીડી યોજના</h5>
                </a>*@
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeGLWBHSC">
                        <i class='bx bx-book-open'></i>
                        <h5>શ્રમયોગી શૈક્ષણિક પુરસ્કાર યોજના (ધોરણ :૧૨)</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeGLWBSSC">
                        <i class='bx bx-book-open'></i>
                        <h5>શ્રમયોગી શૈક્ષણિક પુરસ્કાર યોજના (ધોરણ :૧૦)</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#HigherStudyschemeModal">
                        <i class='bx bx-book-open'></i>
                        <h5>MBBS / BDS / BAMS / Physiotherapy / BPharm / BE / CA / ICWA / ICFA /CS માં પ્રવેશ મેળવનાર શ્રમયોગીઓના બાળકો માટે સહાય યોજના</h5>
                    </a>
                    @*<a asp-controller="GLWBHigherEducationAward" asp-action="AppPersonalDetails">
                <i class='bx bx-book-open'></i>
                <h5>MBBS / BDS / BAMS / Physiotherapy / BPharm / BE / CA / ICWA / ICFA /CS માં પ્રવેશ મેળવનાર શ્રમયોગીઓના બાળકો માટે</h5>
                </a>*@
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBMahilashramLagnaSahay">
                        <i class='bx bx-male-female'></i>
                        <h5>મહિલા શ્રમયોગી લગ્ન સહાય યોજના</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBPSBPSY">
                        <i class='bx bx-face'></i>
                        <h5>પ્રસુતિ સહાય અને બેટી પ્રોત્સાહન યોજના</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBTabibiSahay">
                        <i class='bx bx-injection'></i>
                        <h5>શ્રમયોગી સંપૂર્ણ તબીબી તપાસ સહાય યોજના</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBRamatGamatSpardha">
                        <i class='bx bxs-basketball'></i>
                        <h5>રમત ગમત કાર્યક્રમ માટેનું અરજી પત્રક</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeDisabledChildren">
                        <i class='bx bx-handicap'></i>
                        <h5>શ્રમયોગીઓના દિવ્યાંગ બાળકો માટે સહાય યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBGameYojna">
                        <i class='bx bx-award'></i>
                        <h5>શ્રમયોગીઓના બાળકો માટે રમત ગમતમાં ભાગ લેવા બદલ પ્રોત્સાહન યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeGWLBAccidentalDisability">
                        <i class='bx bx-bed'></i>
                        <h5>શ્રમયોગી આકસ્મિક સહાય યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#GLWBVIshishtKarykram">
                        <i class='bx bx-bed'></i>
                        <h5>વિશિષ્ટ કાર્યક્રમ  માટેનુ અરજી પત્રક</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
@if (Model != null && identity?.Claims.FirstOrDefault(x => x.Type.Equals("BeneficiaryType", StringComparison.OrdinalIgnoreCase))?.Value == "3")
{
    <div class="educational">
        <p class="h5 d-flex align-items-center"><i class='bx bxs-book me-2'></i>Educational  Scheme</p><hr />

        <div class="row portfolio-container portfolio-container2">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">

                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeModal">
                        <i class='bx bx-book-open'></i>
                        <h5>શિક્ષણ સહાય/ પી.એચ.ડી યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a asp-controller="Home" asp-action="Form">
                        <i class='bx bx-buildings'></i>
                        <h5>હોસ્ટેલ સહાય યોજના</h5>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeGLWBHSC">
                        <i class='bx bx-book-open'></i>
                        <h5>શૈક્ષણિક પુરસ્કાર યોજના (ધોરણ :૧૨)</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#schemeGLWBSSC">
                        <i class='bx bx-book-open'></i>
                        <h5>શૈક્ષણિક પુરસ્કાર યોજના (ધોરણ :૧૦)</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="scheme">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#HigherStudyschemeModal">
                        <i class='bx bx-book-open'></i>
                        <h5>MBBS / BDS / BAMS / Physiotherapy / BPharm / BE / CA / ICWA / ICFA /CS માં પ્રવેશ મેળવનાર શ્રમયોગીઓના બાળકો માટે સહાય યોજના</h5>
                    </a>
                </div>
            </div>

        </div>
    </div>
}









