@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

    <fieldset class="custom-fieldset mb-4">
        <legend>
            કંપની ની વિગત
        </legend>
        <div class="row">
            <div class="col-md-12">

                <div class="form-horizontal form-bordered">
                    <div class="form-group row border-0">
                        <div class="col-md-12 p-0 align-self-center">
                            <div class="form-horizontal form-bordered border-bottom-0">

                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        લેબર વેલ્ફેર ફંડ એકાઉન્ટ નંબર  :  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-6">
                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                    </div>

                                    <div class="control-form col-md-3">
                                        <button class="btn btn-sm btn-primary pl-3 pr-3">Fetch</button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        સંસ્થાનું નામ:<span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                    </div>
                                    <span class="control-label col-md-3">
                                        ઈ-મેઈલ:  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                    </div>


                                </div>
                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        સંસ્થાનું એડ્રેસ્સ  : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <textarea name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtAddress" rows="2" cols="20" id="body_innerbody_ucApplicantAddress_txtAddress" class="form-control" style="height: auto !important">Ahmedabad</textarea>
                                        <span id="body_innerbody_ucApplicantAddress_reqtxtAddress" class="text-danger" style="display:none;">અરજદારનું સરનામું English માં લખો .</span>
                                        <span id="body_innerbody_ucApplicantAddress_RetxtAddress" style="color:Red;display:none;">માત્ર (A-Z,a-z,0-9 ) સ્વીકાર્ય છે. અને (&lt; and &gt;) શિવાય ના ૨૦૦ અક્ષર સુધી લખી શકાશે.</span>
                                    </div>
                                    <span class="control-label col-md-3">
                                        શહેર :  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <span class="control-label col-md-3">
                                        જિલ્લાનું નામ :   <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlDistrict" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlDistrict\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlDistrict" tabindex="2" class="form-control">
                                            <option value="0">-Please Select-</option>
                                            <option selected="selected" value="9">Ahmadabad - અમદાવાદ</option>
                                            <option value="1">Amreli - અમરેલી</option>
                                            <option value="10">Anand - આણંદ</option>
                                            <option value="27">Arvalli - અરવલ્લી</option>
                                            <option value="11">Banaskantha - બનાસકાંઠા</option>
                                            <option value="12">Bharuch - ભરુચ</option>
                                            <option value="2">Bhavnagar - ભાવનગર</option>
                                            <option value="28">Botad - બોટાદ</option>
                                            <option value="29">Chhotaudepur - છોટાઉદેપુર</option>
                                            <option value="13">Dahod - દાહોદ</option>
                                            <option value="14">Dangs - ડાંગ</option>
                                            <option value="30">Devbhumi Dwarka - દેવભુમિ દ્વારકા</option>
                                            <option value="15">Gandhinagar - ગાંધીનગર</option>
                                            <option value="31">Gir Somnath - ગીર સોમનાથ</option>
                                            <option value="3">Jamnagar - જામનગર</option>
                                            <option value="4">Junagadh - જુનાગઢ</option>
                                            <option value="16">Kachchh - કચ્છ</option>
                                            <option value="18">Kheda - ખેડા</option>
                                            <option value="17">Mahesana - મહેસાણા</option>
                                            <option value="32">Mahisagar - મહિસાગર</option>
                                            <option value="33">Morbi - મોરબી</option>
                                            <option value="19">Narmada - નર્મદા</option>
                                            <option value="20">Navsari - નવસારી</option>
                                            <option value="21">Panchmahals - પંચમહાલ</option>
                                            <option value="22">Patan - પાટણ</option>
                                            <option value="5">Porbandar - પોરબંદર</option>
                                            <option value="6">Rajkot - રાજકોટ</option>
                                            <option value="23">Sabarkantha - સાબરકાંઠા</option>
                                            <option value="24">Surat - સુરત</option>
                                            <option value="7">Surendranagar - સુરેન્દ્રનગર</option>
                                            <option value="25">Tapi - તાપી</option>
                                            <option value="8">Vadodara - વડોદરા</option>
                                            <option value="26">Valsad - વલસાડ</option>

                                        </select>
                                        <span id="body_innerbody_ucApplicantAddress_ReqddlDistrict" class="text-danger" style="display:none;">જિલ્લાનું નામ પસંદ કરો.</span>

                                    </div>

                                    <span class="control-label col-md-3">
                                        તાલુકાનું નામ: <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlTaluka" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlTaluka\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlTaluka" tabindex="3" class="form-control">
                                            <option value="0">- Please Select -</option>
                                            <option selected="selected" value="276">ASARWA - અસારવા</option>
                                            <option value="67">Bavla - બાવળા</option>
                                            <option value="68">Daskroi - દશક્રોઈ</option>
                                            <option value="69">Detroj-Rampura - દેત્રોજ-રામપુરા</option>
                                            <option value="70">Dhandhuka - ઘંઘુકા</option>
                                            <option value="237">Dholera - ધોલેરા</option>
                                            <option value="71">Dholka - ઘોળકા</option>
                                            <option value="277">GHATLODIA - ઘાટલોડીયા</option>
                                            <option value="72">Mandal - માંડલ</option>
                                            <option value="278">MANINAGAR - મણિનગર</option>
                                            <option value="279">SABARMATI - સાબરમતી</option>
                                            <option value="73">Sanand - સાણંદ</option>
                                            <option value="280">VATVA - વટવા</option>
                                            <option value="281">VEJALPUR - વેજલપુર</option>
                                            <option value="74">Viramgam - વિરમગામ</option>

                                        </select>
                                        <span id="body_innerbody_ucApplicantAddress_ReqddlTaluka" class="text-danger" style="display:none;">તાલુકાનું નામ પસંદ કરો.</span>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        સંપર્કકર્તા વ્યક્તિનું નામ  : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                        @*<textarea name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtAddress" rows="2" cols="20" id="body_innerbody_ucApplicantAddress_txtAddress" class="form-control" style="height: auto !important">Ahmedabad</textarea>
                                            <span id="body_innerbody_ucApplicantAddress_reqtxtAddress" class="text-danger" style="display:none;">અરજદારનું સરનામું English માં લખો .</span>
                                            <span id="body_innerbody_ucApplicantAddress_RetxtAddress" style="color:Red;display:none;">માત્ર (A-Z,a-z,0-9 ) સ્વીકાર્ય છે. અને (&lt; and &gt;) શિવાય ના ૨૦૦ અક્ષર સુધી લખી શકાશે.</span>*@
                                    </div>
                                    <span class="control-label col-md-3">
                                        સંપર્કકર્તા વ્યક્તિનો મોબાઇલ નંબર : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        પીનકોડ :  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">
                                        <input name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtPinCode" type="text" value="386598" maxlength="6" id="body_innerbody_ucApplicantAddress_txtPinCode" class="form-control">
                                        <span id="body_innerbody_ucApplicantAddress_ReqtxtPinCode" class="text-danger" style="color:Red;display:none;">પીનકોડ લખો.</span>

                                        <span id="body_innerbody_ucApplicantAddress_rgvtxtPinCode" style="color:Red;display:none;">પીનકોડ બરોબર નથી.</span>
                                    </div>


                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </fieldset>



    @*<fieldset class="custom-fieldset mb-4">
            <legend>અરજદારનું હાલનું સરનામું</legend>
            <div class="form-horizontal form-bordered">

                <div class="form-group row">
                    <span class="control-label col-md-2">
                        રાજયનું નામ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlState" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlState\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlState" disabled="disabled" tabindex="1" class="aspNetDisabled form-control">
                            <option value="0">-Please Select-</option>
                            <option value="1">Andhra Pradesh - આંધ્રપ્રદેશ</option>
                            <option value="2">Arunachal Pradesh - </option>
                            <option value="3">Assam - </option>
                            <option value="4">Bihar - </option>
                            <option value="5">Chhattisgarh - </option>
                            <option value="6">Goa - </option>
                            <option selected="selected" value="7">Gujarat - ગુજરાત</option>
                            <option value="8">Haryana - </option>
                            <option value="9">Himachal Pradesh - </option>
                            <option value="10">Jammu and Kashmir - </option>
                            <option value="11">Jharkhand - </option>
                            <option value="12">Karnataka - </option>
                            <option value="13">Kerala - </option>
                            <option value="14">Madhya Pradesh - </option>
                            <option value="15">Maharashtra - </option>
                            <option value="16">Manipur - </option>
                            <option value="17">Meghalaya - </option>
                            <option value="18">Mizoram - </option>
                            <option value="19">Nagaland - </option>
                            <option value="20">Odisha - </option>
                            <option value="21">Punjab - </option>
                            <option value="22">Rajasthan - </option>
                            <option value="23">Sikkim - </option>
                            <option value="24">Tamil Nadu - </option>
                            <option value="25">Telangana - </option>
                            <option value="26">Tripura - </option>
                            <option value="27">Uttar Pradesh - </option>
                            <option value="28">Uttarakhand - </option>
                            <option value="29">West Bengal - </option>
                            <option value="30">Andaman and Nicobar Islands(UT) - </option>
                            <option value="31">Chandigarh(UT) - </option>
                            <option value="32">Dadra and Nagar Haveli(UT) - </option>
                            <option value="33">Daman and Diu(UT) - </option>
                            <option value="34">Delhi(UT) - </option>
                            <option value="37">Lakshadweep(UT) - </option>
                            <option value="38">Puducherry(UT) - </option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlState" class="text-danger" style="display:none;">રાજયનું નામ પસંદ કરો.</span>
                    </div>
                    <span class="control-label col-md-2">
                        જિલ્લાનું નામ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlDistrict" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlDistrict\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlDistrict" tabindex="2" class="form-control">
                            <option value="0">-Please Select-</option>
                            <option selected="selected" value="9">Ahmadabad - અમદાવાદ</option>
                            <option value="1">Amreli - અમરેલી</option>
                            <option value="10">Anand - આણંદ</option>
                            <option value="27">Arvalli - અરવલ્લી</option>
                            <option value="11">Banaskantha - બનાસકાંઠા</option>
                            <option value="12">Bharuch - ભરુચ</option>
                            <option value="2">Bhavnagar - ભાવનગર</option>
                            <option value="28">Botad - બોટાદ</option>
                            <option value="29">Chhotaudepur - છોટાઉદેપુર</option>
                            <option value="13">Dahod - દાહોદ</option>
                            <option value="14">Dangs - ડાંગ</option>
                            <option value="30">Devbhumi Dwarka - દેવભુમિ દ્વારકા</option>
                            <option value="15">Gandhinagar - ગાંધીનગર</option>
                            <option value="31">Gir Somnath - ગીર સોમનાથ</option>
                            <option value="3">Jamnagar - જામનગર</option>
                            <option value="4">Junagadh - જુનાગઢ</option>
                            <option value="16">Kachchh - કચ્છ</option>
                            <option value="18">Kheda - ખેડા</option>
                            <option value="17">Mahesana - મહેસાણા</option>
                            <option value="32">Mahisagar - મહિસાગર</option>
                            <option value="33">Morbi - મોરબી</option>
                            <option value="19">Narmada - નર્મદા</option>
                            <option value="20">Navsari - નવસારી</option>
                            <option value="21">Panchmahals - પંચમહાલ</option>
                            <option value="22">Patan - પાટણ</option>
                            <option value="5">Porbandar - પોરબંદર</option>
                            <option value="6">Rajkot - રાજકોટ</option>
                            <option value="23">Sabarkantha - સાબરકાંઠા</option>
                            <option value="24">Surat - સુરત</option>
                            <option value="7">Surendranagar - સુરેન્દ્રનગર</option>
                            <option value="25">Tapi - તાપી</option>
                            <option value="8">Vadodara - વડોદરા</option>
                            <option value="26">Valsad - વલસાડ</option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlDistrict" class="text-danger" style="display:none;">જિલ્લાનું નામ પસંદ કરો.</span>

                    </div>

                    <span class="control-label col-md-2">
                        તાલુકાનું નામ: <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlTaluka" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlTaluka\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlTaluka" tabindex="3" class="form-control">
                            <option value="0">- Please Select -</option>
                            <option selected="selected" value="276">ASARWA - અસારવા</option>
                            <option value="67">Bavla - બાવળા</option>
                            <option value="68">Daskroi - દશક્રોઈ</option>
                            <option value="69">Detroj-Rampura - દેત્રોજ-રામપુરા</option>
                            <option value="70">Dhandhuka - ઘંઘુકા</option>
                            <option value="237">Dholera - ધોલેરા</option>
                            <option value="71">Dholka - ઘોળકા</option>
                            <option value="277">GHATLODIA - ઘાટલોડીયા</option>
                            <option value="72">Mandal - માંડલ</option>
                            <option value="278">MANINAGAR - મણિનગર</option>
                            <option value="279">SABARMATI - સાબરમતી</option>
                            <option value="73">Sanand - સાણંદ</option>
                            <option value="280">VATVA - વટવા</option>
                            <option value="281">VEJALPUR - વેજલપુર</option>
                            <option value="74">Viramgam - વિરમગામ</option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlTaluka" class="text-danger" style="display:none;">તાલુકાનું નામ પસંદ કરો.</span>

                    </div>
                </div>

                <div class="form-group row">
                    <span class="control-label col-md-2">
                        ગામનું નામ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlVillage" id="body_innerbody_ucApplicantAddress_ddlVillage" class="form-control">
                            <option value="0">- Please Select -</option>
                            <option selected="selected" value="24766">ASARWA - અસારવા</option>
                            <option value="24767">Dariyapur- kajipur - દરીયાપુર-કાઝીપુર</option>
                            <option value="24768">hansol - હાંસોલ</option>
                            <option value="24769">HANSPURA - હંસપુરા</option>
                            <option value="24770">Kotarpur - કોતરપુર</option>
                            <option value="24771">Muthiya - મુઠીયા </option>
                            <option value="24772">NARODA - નરોડા</option>
                            <option value="24773">Nikol - નિકોલ </option>
                            <option value="24774">SAIJPUR BOGHA - સેજપુર બોઘા</option>
                            <option value="24775">SARDARNAGAR - સરદારનગર</option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlVillage" class="text-danger" style="display:none;">ગામ નું નામ પસંદ કરો.</span>
                    </div>
                    <span class="control-label col-md-2">
                        અરજદારનું સરનામું (English)  : <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <textarea name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtAddress" rows="2" cols="20" id="body_innerbody_ucApplicantAddress_txtAddress" class="form-control" style="height: auto !important">Ahmedabad</textarea>
                        <span id="body_innerbody_ucApplicantAddress_reqtxtAddress" class="text-danger" style="display:none;">અરજદારનું સરનામું English માં લખો .</span>
                        <span id="body_innerbody_ucApplicantAddress_RetxtAddress" style="color:Red;display:none;">માત્ર (A-Z,a-z,0-9 ) સ્વીકાર્ય છે. અને (&lt; and &gt;) શિવાય ના ૨૦૦ અક્ષર સુધી લખી શકાશે.</span>


                    </div>
                    <span class="control-label col-md-2">
                        અરજદારનું સરનામું (ગુજરાતીમાં)  : <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <textarea name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtaddressingujarati" rows="2" cols="20" id="body_innerbody_ucApplicantAddress_txtaddressingujarati" class="form-control" style="height: auto !important">અમદાવાદ</textarea>
                        <span id="body_innerbody_ucApplicantAddress_rfvtxtaddressingujarati" class="text-danger" style="display:none;">અરજદારનું સરનામું ગુજરાતી માં લખો .</span>
                        <span id="body_innerbody_ucApplicantAddress_revtxtaddressingujarati" style="color:Red;display:none;">માત્ર (A-Z,a-z,0-9 ) સ્વીકાર્ય છે. અને (&lt; and &gt;) શિવાય ના ૨૦૦ અક્ષર સુધી લખી શકાશે.</span>


                    </div>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-2">
                        પીનકોડ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <input name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtPinCode" type="text" value="386598" maxlength="6" id="body_innerbody_ucApplicantAddress_txtPinCode" class="form-control">
                        <span id="body_innerbody_ucApplicantAddress_ReqtxtPinCode" class="text-danger" style="color:Red;display:none;">પીનકોડ લખો.</span>

                        <span id="body_innerbody_ucApplicantAddress_rgvtxtPinCode" style="color:Red;display:none;">પીનકોડ બરોબર નથી.</span>
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset class="custom-fieldset mb-4">
            <legend>અરજદારનું કાયમી સરનામું</legend>
            <div class="text-left">
                <label class="">

                    <input id="body_innerbody_ucApplicantAddress_cbSameAsAbove" type="checkbox" name="ctl00$ctl00$body$innerbody$ucApplicantAddress$cbSameAsAbove" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$cbSameAsAbove\',\'\')', 0)">
                    ઉપર મુજબ
                </label>
            </div>
            <br>
            <div class="form-horizontal form-bordered">

                <div class="form-group row">
                    <span class="control-label col-md-2">
                        રાજયનું નામ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlState" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlState\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlState" tabindex="1" class="aspNetDisabled form-control">
                            <option value="0">-Please Select-</option>
                            <option value="1">Andhra Pradesh - આંધ્રપ્રદેશ</option>
                            <option value="2">Arunachal Pradesh - </option>
                            <option value="3">Assam - </option>
                            <option value="4">Bihar - </option>
                            <option value="5">Chhattisgarh - </option>
                            <option value="6">Goa - </option>
                            <option selected="selected" value="7">Gujarat - ગુજરાત</option>
                            <option value="8">Haryana - </option>
                            <option value="9">Himachal Pradesh - </option>
                            <option value="10">Jammu and Kashmir - </option>
                            <option value="11">Jharkhand - </option>
                            <option value="12">Karnataka - </option>
                            <option value="13">Kerala - </option>
                            <option value="14">Madhya Pradesh - </option>
                            <option value="15">Maharashtra - </option>
                            <option value="16">Manipur - </option>
                            <option value="17">Meghalaya - </option>
                            <option value="18">Mizoram - </option>
                            <option value="19">Nagaland - </option>
                            <option value="20">Odisha - </option>
                            <option value="21">Punjab - </option>
                            <option value="22">Rajasthan - </option>
                            <option value="23">Sikkim - </option>
                            <option value="24">Tamil Nadu - </option>
                            <option value="25">Telangana - </option>
                            <option value="26">Tripura - </option>
                            <option value="27">Uttar Pradesh - </option>
                            <option value="28">Uttarakhand - </option>
                            <option value="29">West Bengal - </option>
                            <option value="30">Andaman and Nicobar Islands(UT) - </option>
                            <option value="31">Chandigarh(UT) - </option>
                            <option value="32">Dadra and Nagar Haveli(UT) - </option>
                            <option value="33">Daman and Diu(UT) - </option>
                            <option value="34">Delhi(UT) - </option>
                            <option value="37">Lakshadweep(UT) - </option>
                            <option value="38">Puducherry(UT) - </option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlState" class="text-danger" style="display:none;">રાજયનું નામ પસંદ કરો.</span>
                    </div>
                    <span class="control-label col-md-2">
                        જિલ્લાનું નામ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlDistrict" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlDistrict\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlDistrict" tabindex="2" class="form-control">
                            <option value="0">-Please Select-</option>
                            <option selected="selected" value="9">Ahmadabad - અમદાવાદ</option>
                            <option value="1">Amreli - અમરેલી</option>
                            <option value="10">Anand - આણંદ</option>
                            <option value="27">Arvalli - અરવલ્લી</option>
                            <option value="11">Banaskantha - બનાસકાંઠા</option>
                            <option value="12">Bharuch - ભરુચ</option>
                            <option value="2">Bhavnagar - ભાવનગર</option>
                            <option value="28">Botad - બોટાદ</option>
                            <option value="29">Chhotaudepur - છોટાઉદેપુર</option>
                            <option value="13">Dahod - દાહોદ</option>
                            <option value="14">Dangs - ડાંગ</option>
                            <option value="30">Devbhumi Dwarka - દેવભુમિ દ્વારકા</option>
                            <option value="15">Gandhinagar - ગાંધીનગર</option>
                            <option value="31">Gir Somnath - ગીર સોમનાથ</option>
                            <option value="3">Jamnagar - જામનગર</option>
                            <option value="4">Junagadh - જુનાગઢ</option>
                            <option value="16">Kachchh - કચ્છ</option>
                            <option value="18">Kheda - ખેડા</option>
                            <option value="17">Mahesana - મહેસાણા</option>
                            <option value="32">Mahisagar - મહિસાગર</option>
                            <option value="33">Morbi - મોરબી</option>
                            <option value="19">Narmada - નર્મદા</option>
                            <option value="20">Navsari - નવસારી</option>
                            <option value="21">Panchmahals - પંચમહાલ</option>
                            <option value="22">Patan - પાટણ</option>
                            <option value="5">Porbandar - પોરબંદર</option>
                            <option value="6">Rajkot - રાજકોટ</option>
                            <option value="23">Sabarkantha - સાબરકાંઠા</option>
                            <option value="24">Surat - સુરત</option>
                            <option value="7">Surendranagar - સુરેન્દ્રનગર</option>
                            <option value="25">Tapi - તાપી</option>
                            <option value="8">Vadodara - વડોદરા</option>
                            <option value="26">Valsad - વલસાડ</option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlDistrict" class="text-danger" style="display:none;">જિલ્લાનું નામ પસંદ કરો.</span>

                    </div>

                    <span class="control-label col-md-2">
                        તાલુકાનું નામ: <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlTaluka" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlTaluka\',\'\')', 0)" id="body_innerbody_ucApplicantAddress_ddlTaluka" tabindex="3" class="form-control">
                            <option value="0">- Please Select -</option>
                            <option selected="selected" value="276">ASARWA - અસારવા</option>
                            <option value="67">Bavla - બાવળા</option>
                            <option value="68">Daskroi - દશક્રોઈ</option>
                            <option value="69">Detroj-Rampura - દેત્રોજ-રામપુરા</option>
                            <option value="70">Dhandhuka - ઘંઘુકા</option>
                            <option value="237">Dholera - ધોલેરા</option>
                            <option value="71">Dholka - ઘોળકા</option>
                            <option value="277">GHATLODIA - ઘાટલોડીયા</option>
                            <option value="72">Mandal - માંડલ</option>
                            <option value="278">MANINAGAR - મણિનગર</option>
                            <option value="279">SABARMATI - સાબરમતી</option>
                            <option value="73">Sanand - સાણંદ</option>
                            <option value="280">VATVA - વટવા</option>
                            <option value="281">VEJALPUR - વેજલપુર</option>
                            <option value="74">Viramgam - વિરમગામ</option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlTaluka" class="text-danger" style="display:none;">તાલુકાનું નામ પસંદ કરો.</span>

                    </div>
                </div>

                <div class="form-group row">
                    <span class="control-label col-md-2">
                        ગામનું નામ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <select name="ctl00$ctl00$body$innerbody$ucApplicantAddress$ddlVillage" id="body_innerbody_ucApplicantAddress_ddlVillage" class="form-control">
                            <option value="0">- Please Select -</option>
                            <option selected="selected" value="24766">ASARWA - અસારવા</option>
                            <option value="24767">Dariyapur- kajipur - દરીયાપુર-કાઝીપુર</option>
                            <option value="24768">hansol - હાંસોલ</option>
                            <option value="24769">HANSPURA - હંસપુરા</option>
                            <option value="24770">Kotarpur - કોતરપુર</option>
                            <option value="24771">Muthiya - મુઠીયા </option>
                            <option value="24772">NARODA - નરોડા</option>
                            <option value="24773">Nikol - નિકોલ </option>
                            <option value="24774">SAIJPUR BOGHA - સેજપુર બોઘા</option>
                            <option value="24775">SARDARNAGAR - સરદારનગર</option>

                        </select>
                        <span id="body_innerbody_ucApplicantAddress_ReqddlVillage" class="text-danger" style="display:none;">ગામ નું નામ પસંદ કરો.</span>
                    </div>
                    <span class="control-label col-md-2">
                        અરજદારનું સરનામું (English)  : <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <textarea name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtAddress" rows="2" cols="20" id="body_innerbody_ucApplicantAddress_txtAddress" class="form-control" style="height: auto !important">Ahmedabad</textarea>
                        <span id="body_innerbody_ucApplicantAddress_reqtxtAddress" class="text-danger" style="display:none;">અરજદારનું સરનામું English માં લખો .</span>
                        <span id="body_innerbody_ucApplicantAddress_RetxtAddress" style="color:Red;display:none;">માત્ર (A-Z,a-z,0-9 ) સ્વીકાર્ય છે. અને (&lt; and &gt;) શિવાય ના ૨૦૦ અક્ષર સુધી લખી શકાશે.</span>


                    </div>
                    <span class="control-label col-md-2">
                        અરજદારનું સરનામું (ગુજરાતીમાં)  : <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <textarea name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtaddressingujarati" rows="2" cols="20" id="body_innerbody_ucApplicantAddress_txtaddressingujarati" class="form-control" style="height: auto !important">અમદાવાદ</textarea>
                        <span id="body_innerbody_ucApplicantAddress_rfvtxtaddressingujarati" class="text-danger" style="display:none;">અરજદારનું સરનામું ગુજરાતી માં લખો .</span>
                        <span id="body_innerbody_ucApplicantAddress_revtxtaddressingujarati" style="color:Red;display:none;">માત્ર (A-Z,a-z,0-9 ) સ્વીકાર્ય છે. અને (&lt; and &gt;) શિવાય ના ૨૦૦ અક્ષર સુધી લખી શકાશે.</span>


                    </div>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-2">
                        પીનકોડ :  <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-2">
                        <input name="ctl00$ctl00$body$innerbody$ucApplicantAddress$txtPinCode" type="text" value="386598" maxlength="6" id="body_innerbody_ucApplicantAddress_txtPinCode" class="form-control">
                        <span id="body_innerbody_ucApplicantAddress_ReqtxtPinCode" class="text-danger" style="color:Red;display:none;">પીનકોડ લખો.</span>

                        <span id="body_innerbody_ucApplicantAddress_rgvtxtPinCode" style="color:Red;display:none;">પીનકોડ બરોબર નથી.</span>
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset class="custom-fieldset mb-4">
            <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
                <span id="body_innerbody_ucApplicantBankdetails_lblLegend">બેંકની વિગતો</span>
            </legend>
            <div class="form-horizontal form-bordered">

                <div class="form-group row">
                    <span class="control-label col-md-3">
                        બેંકનું નામ :   <span class="text-danger"></span>
                    </span>
                    <div class="control-form col-md-3">
                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankName" type="text" value="Union Bank" id="body_innerbody_ucApplicantBankdetails_txtBankName" class="form-control">

                        <span id="body_innerbody_ucApplicantBankdetails_regtxtBankName" style="color:Red;display:none;">બેંક નું નામ બરાબર લખો </span>
                    </div>
                    <span class="control-label col-md-3">
                        શાખાનું નામ :   <span class="text-danger"></span>
                    </span>
                    <div class="control-form col-md-3">
                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$branchName" type="text" value="Rajpipla" id="body_innerbody_ucApplicantBankdetails_branchName" class="form-control">

                        <span id="body_innerbody_ucApplicantBankdetails_RegbranchName" style="color:Red;display:none;">બેંક ની શાખાનું નામ બરાબર લખો </span>
                    </div>
                </div>

                <div class="form-group row">
                    <span class="control-label col-md-3">
                        IFSC કોડ નંબર:  <span class="text-danger"></span>
                    </span>
                    <div class="control-form col-md-3">
                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtIFSCCode" type="text" value="IFSCIN01252" maxlength="11" id="body_innerbody_ucApplicantBankdetails_txtIFSCCode" class="form-control">

                        <span id="body_innerbody_ucApplicantBankdetails_RetxtIFSCCode" style="color:Red;display:none;">બેંક નો આઇ.એફ.એસ.સી નંબર સાચો નાખો.</span>
                    </div>
                    <span class="control-label col-md-3">
                        બેંક એકાઉન્ટ નંબર : <span class="text-danger"></span>
                    </span>
                    <div class="control-form col-md-3">
                        <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankACNo" type="text" value="2562352352" maxlength="20" id="body_innerbody_ucApplicantBankdetails_txtBankACNo" class="form-control">

                    </div>
                </div>
            </div>
            <br>
        </fieldset>

        <fieldset class="custom-fieldset mb-4">
            <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
                <span id="body_innerbody_ucApplicantBankdetails_lblLegend">
                    દિવ્યાંગતાની વિગત
                </span>
            </legend>
            <div class="form-horizontal form-bordered">
                <div class="form-group row">
                    <span class="control-label col-md-3">
                        શારીરિક  દિવ્યાંગતા છે ?  :   <span class="text-danger">*</span>
                    </span>
                    <div class="control-form col-md-3">
                        <td><span><input id="body_innerbody_rblCard_0" type="radio" name="ctl00$ctl00$body$innerbody$rblCard" value="1" checked="checked"><label for="body_innerbody_rblApplicantGender_0">હા</label></span></td>
                        <td><span><input id="body_innerbody_rblCard_1" type="radio" name="ctl00$ctl00$body$innerbody$rblCard" value="0"><label for="body_innerbody_rblApplicantGender_1">ના</label></span></td>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="control-label col-md-3">
                        દિવ્યાંગતાનો પ્રકાર :   <span class="text-danger"></span>
                    </span>
                    <div class="control-form col-md-3">
                        <select class="form-control">
                            <option>--select--</option>
                            <option>સાંભળવાની ક્ષતિ</option>
                            <option>ક્રોનિક ન્યુરોલોજીકલ સ્થિતિ</option>
                            <option>ઓછી દ્રષ્ટિ</option>
                            <option>બૌધ્ધિક અસમર્થતા</option>
                            <option>હિમોગ્લોબિનની ઘટેલી માત્રા</option>
                            <option>રક્તપિત-સાજા થયેલ</option>
                        </select>
                    </div>
                    <span class="control-label col-md-3">
                        દિવ્યાંગતાની ટકાવારી :   <span class="text-danger"></span>
                    </span>
                    <div class="control-form col-md-3">
                        <input name="" type="text" value="" id="" class="form-control">

                    </div>
                </div>


            </div>
        </fieldset>*@

    <fieldset class="custom-fieldset mb-4">
        <legend>
            યોજના ની માહિતી
        </legend>
        <div class="row">
            <div class="col-md-12">

                <div class="form-horizontal form-bordered">
                    <div class="form-group row">
                        <div class="col-md-12 p-0 align-self-center">
                            <div class="form-horizontal form-bordered border-0">



                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        હાલ કારખાના સંસ્થામાં ફરજ બજાવતા અને શ્રમયોગી ફાળો ભરાતો હોય તેવા શ્રમયોગીઓની સંખ્યા: <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">
                                    </div>


                                </div>


                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        વિશિષ્ટ કાર્યક્રમ ની શરૂઆત ની તારીખ :   <span class="text-danger">*</span>
                                    </span>

                                    <div class="control-form col-md-3">

                                        <div class="control-form col-md-6">
                                            <input type="text" class="form-control datepicker1" placeholder="mm/dd/yyyy" />
                                        </div>
                                    </div>


                                    <span class="control-label col-md-3">
                                        વિશિષ્ટ કાર્યક્રમ ની અંતિમ ની તારીખ : <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-3">

                                        <div class="control-form col-md-6">
                                            <input type="text" class="form-control datepicker1" placeholder="mm/dd/yyyy" />
                                        </div>
                                    </div>




                                </div>



                                <div class="form-group row">
                                    <span class="control-label col-md-3">
                                        વિશિષ્ટ કાર્યક્ર્મ ની ટૂંકમાં વિગત :  <span class="text-danger">*</span>
                                    </span>
                                    <div class="control-form col-md-9">
                                        <textarea name="" rows="3" cols="30" id="" class="form-control"></textarea>
                                    </div>


                                </div>



                                @*<div class="form-group row">
                                        <span class="control-label col-md-6">
                                            સંસ્થા દ્વારા યોજવામાં આવનાર રમતગમત સ્પર્ધા ખર્ચ બાઈફરકેશન:      <span class="text-danger">*</span>
                                        </span>
                                        <br />

                                        <div class="row">
                                            <div class="col-sm-4">

                                                <span class="control-label col-sm-4">
                                                    રમતગમત સ્પર્ધા ખર્ચ બાઈફરકેશન:  <span class="text-danger">*</span>
                                                </span>

                                                <select class="form-select form-control" aria-label="Default select example" style="margin: 6px 0;">
                                                    <option selected>Please select the menu </option>
                                                    <option value="અ">રમતગમત</option>
                                                    <option value="બ">ઇન્ફ્રાસ્ટ્રકચર </option>
                                                    <option value="ક">રિફ્રેશમેન્ટ</option>
                                                </select>

                                            </div>
                                            <div class="col-sm-4">
                                                <span class="control-label col-sm-4">
                                                    વિગત‌‌‌  <span class="text-danger">*</span>
                                                </span>


                                                <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" style="margin: 6px 0;" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">


                                            </div>
                                            <div class="col-sm-4">
                                                <span class="control-label col-sm-4">
                                                    અંદાજીત ખર્ચની રકમ   <span class="text-danger">*</span>
                                                </span>


                                                <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" style="margin: 6px 0;" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">


                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">


                                                <select class="form-select form-control" aria-label="Default select example" style="margin: 6px 0;">
                                                    <option selected>Please select the menu </option>
                                                    <option value="અ">રમતગમત</option>
                                                    <option value="બ">ઇન્ફ્રાસ્ટ્રકચર </option>
                                                    <option value="ક">રિફ્રેશમેન્ટ</option>
                                                </select>

                                            </div>
                                            <div class="col-sm-4">



                                                <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" style="margin: 6px 0;" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">


                                            </div>
                                            <div class="col-sm-4">



                                                <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" style="margin: 6px 0;" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">


                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">



                                                <select class="form-select form-control" aria-label="Default select example" style="margin: 6px 0;">
                                                    <option selected>Please select the menu </option>
                                                    <option value="અ">રમતગમત</option>
                                                    <option value="બ">ઇન્ફ્રાસ્ટ્રકચર </option>
                                                    <option value="ક">રિફ્રેશમેન્ટ</option>
                                                </select>

                                            </div>
                                            <div class="col-sm-4">

                                                <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" style="margin: 6px 0;" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">


                                            </div>
                                            <div class="col-sm-4">
                                                <input name="ctl00$ctl00$body$innerbody$txtFatherName" type="text" style="margin: 6px 0;" maxlength="100" id="body_innerbody_txtFatherName" class="form-control">


                                            </div>
                                        </div>

                                    </div>*@

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </fieldset>



    


  


    <fieldset>
        <div class="col-md-3">
            <style>
                button.btn.btn-warning {
                    margin-left: 30px;
                    margin-bottom: 8px;
                }
            </style>
            <button type="button" class="btn btn-warning">Add New</button>
        </div>
        <legend>સંસ્થા દ્વારા યોજવામાં આવનાર  વિશિષ્ટ કાર્યક્ર્મ ખર્ચ બાઈફરકેશન</legend>
        <table class="table bg-white table-bordered text-center">
            <tbody>
                <tr>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblOEM_0" class="control-label">ક્રમ</span>
                    </td>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblModelName_1" class="control-label"> વિશિષ્ટ કાર્યક્ર્મ ખર્ચ બાઈફરકેશન<span class="text-danger">*</span></span>
                    </td>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblModelName_2" class="control-label">વિગતો<span class="text-danger">*</span></span>
                    </td>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblModelName_3" class="control-label">અંદાજીત ખર્ચની રકમ<span class="text-danger">*</span></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblOEM_0" class="control-label">1</span>
                    </td>
                    <td>
                        <div class="control-form">
                            <select name="ddlRelation" id="body_innerbody_ddlRelation" class="form-control col-md-3">
                                <option selected>Please select</option>
                                <option value="અ">કલાકારો નો ખર્ચ</option>
                                <option value="બ">ઇન્ફ્રાસ્ટ્રકચર </option>
                                <option value="ક">રિફ્રેશમેન્ટ</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" class="form-control" autocomplete="off">
                    </td>
                    <td>
                        <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" class="form-control" autocomplete="off">
                    </td>

                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsEmployeed" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_0" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed" value="0" checked="checked"><label for="body_innerbody_rblIsEmployeed_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_1" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed" value="1"><label for="body_innerbody_rblIsEmployeed_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->
                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsDependent" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_0" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent" value="0" checked="checked"><label for="body_innerbody_rblIsDependent_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_1" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent" value="1"><label for="body_innerbody_rblIsDependent_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->

                </tr>
                <tr>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblOEM_0" class="control-label">2</span>
                    </td>
                    <td>
                        <div class="control-form">
                            <select name="ddlRelation" id="body_innerbody_ddlRelation" class="form-control col-md-3">
                                <option selected>Please select </option>
                                <option value="અ">કલાકારો નો ખર્ચ</option>
                                <option value="બ">ઇન્ફ્રાસ્ટ્રકચર </option>
                                <option value="ક">રિફ્રેશમેન્ટ</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" class="form-control" autocomplete="off">
                    </td>
                    <td>
                        <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" class="form-control" autocomplete="off">
                    </td>
                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsEmployeed" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_3" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed2" value="0" checked="checked"><label for="body_innerbody_rblIsEmployeed_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_4" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed2" value="1"><label for="body_innerbody_rblIsEmployeed_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->
                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsDependent" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_3" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent2" value="0" checked="checked"><label for="body_innerbody_rblIsDependent_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_4" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent2" value="1"><label for="body_innerbody_rblIsDependent_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>

                    </tr>
                    <tr>
                        <td>
                            <span id="body_innerbody_rptVehicleDetails_lblOEM_0" class="control-label">3</span>
                        </td>
                        <td>
                            <input name="txtFamilyMemberName" type="text" maxlength="100" placeholder="નામ"
                                   id="body_innerbody_txtFamilyMemberName" class="form-control" autocomplete="off">
                        </td>
                        <td>
                            <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" placeholder="ઉંમર" class="form-control" autocomplete="off">
                        </td>
                        <td>
                            <div class="control-form ">
                                <select name="ddlRelation" id="body_innerbody_ddlRelation" class="form-control col-md-3">
                                    <option selected="selected" value="0">-Please Select-</option>
                                    <option value="1">પત્ની</option>
                                    <option value="2">પુત્ર</option>
                                    <option value="3">પુત્રી</option>
                                    <option value="4">ભાઈ</option>
                                    <option value="5">બહેન</option>
                                    <option value="6">માતા</option>
                                    <option value="7">પિતા</option>
                                </select>
                            </div>
                        </td>
                        <!--<td>
                            <div class="control-form col-md-3">
                                <table id="body_innerbody_rblIsEmployeed" class="aspNetDisabled radio">
                                    <tbody>
                                        <tr>
                                            <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_5" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed3" value="0" checked="checked"><label for="body_innerbody_rblIsEmployeed_0">હા</label></span></td>
                                            <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_6" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed3" value="1"><label for="body_innerbody_rblIsEmployeed_1">ના</label></span></td>
                                        </tr>
                                    </tbody>
                                </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->
                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsDependent" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_5" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent3" value="0" checked="checked"><label for="body_innerbody_rblIsDependent_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_6" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent3" value="1"><label for="body_innerbody_rblIsDependent_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->

                </tr>
                <tr>
                    <td>
                        <span id="body_innerbody_rptVehicleDetails_lblOEM_0" class="control-label">3</span>
                    </td>
                    <td>
                        <div class="control-form">
                            <select name="ddlRelation" id="body_innerbody_ddlRelation" class="form-control col-md-3">
                                <option selected>Please select </option>
                                <option value="અ">કલાકારો નો ખર્ચ</option>
                                <option value="બ">ઇન્ફ્રાસ્ટ્રકચર </option>
                                <option value="ક">રિફ્રેશમેન્ટ</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" class="form-control" autocomplete="off">
                    </td>
                    <td>
                        <input name="txtAge" type="text" maxlength="100" id="body_innerbody_txtAge" class="form-control" autocomplete="off">
                    </td>
                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsEmployeed" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_7" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed4" value="0" checked="checked"><label for="body_innerbody_rblIsEmployeed_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsEmployeed_8" type="radio" name="ctl00$ctl00$body$innerbody$rblIsEmployeed4" value="1"><label for="body_innerbody_rblIsEmployeed_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->
                    <!--<td>
                    <div class="control-form col-md-3">
                        <table id="body_innerbody_rblIsDependent" class="aspNetDisabled radio">
                            <tbody>
                                <tr>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_7" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent4" value="0" checked="checked"><label for="body_innerbody_rblIsDependent_0">હા</label></span></td>
                                    <td><span class="aspNetDisabled"><input id="body_innerbody_rblIsDependent_8" type="radio" name="ctl00$ctl00$body$innerbody$rblIsDependent4" value="1"><label for="body_innerbody_rblIsDependent_1">ના</label></span></td>
                                </tr>
                            </tbody>
                        </table>-->
                    @*<span id="body_innerbody_reqApplicantGender" style="color:Red;display:none;">લિંગ પસંદ કરો.</span>*@
                    <!--</div>
                    </td>-->

                </tr>
            </tbody>
        </table>
    </fieldset>




    <fieldset class="custom-fieldset mt-3">
        <legend id="body_innerbody_ucApplicantBankdetails_ucLegend">
            <span id="body_innerbody_ucApplicantBankdetails_lblLegend">બેંકની વિગતો</span>
        </legend>
        <div class="form-horizontal form-bordered">

            <div class="form-group row">
                <span class="control-label col-md-3">
                    બેંકનું નામ :   <span class="text-danger"></span>
                </span>
                <div class="control-form col-md-3">
                    <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankName" type="text" value="Union Bank" id="body_innerbody_ucApplicantBankdetails_txtBankName" class="form-control">

                    <span id="body_innerbody_ucApplicantBankdetails_regtxtBankName" style="color:Red;display:none;">બેંક નું નામ બરાબર લખો </span>
                </div>
                <span class="control-label col-md-3">
                    શાખાનું નામ :   <span class="text-danger"></span>
                </span>
                <div class="control-form col-md-3">
                    <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$branchName" type="text" value="Rajpipla" id="body_innerbody_ucApplicantBankdetails_branchName" class="form-control">

                    <span id="body_innerbody_ucApplicantBankdetails_RegbranchName" style="color:Red;display:none;">બેંક ની શાખાનું નામ બરાબર લખો </span>
                </div>
            </div>

            <div class="form-group row">
                <span class="control-label col-md-3">
                    IFSC કોડ નંબર:  <span class="text-danger"></span>
                </span>
                <div class="control-form col-md-3">
                    <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtIFSCCode" type="text" value="IFSCIN01252" maxlength="11" id="body_innerbody_ucApplicantBankdetails_txtIFSCCode" class="form-control">

                    <span id="body_innerbody_ucApplicantBankdetails_RetxtIFSCCode" style="color:Red;display:none;">બેંક નો આઇ.એફ.એસ.સી નંબર સાચો નાખો.</span>
                </div>
                <span class="control-label col-md-3">
                    બેંક એકાઉન્ટ નંબર : <span class="text-danger"></span>
                </span>
                <div class="control-form col-md-3">
                    <input name="ctl00$ctl00$body$innerbody$ucApplicantBankdetails$txtBankACNo" type="text" value="2562352352" maxlength="20" id="body_innerbody_ucApplicantBankdetails_txtBankACNo" class="form-control">

                </div>
            </div>
        </div>
        <br>
    </fieldset>

</div>